* text=auto

*.blade.php linguist-language=php
*.css diff=css
*.html linguist-language=php
*.md diff=markdown
*.php diff=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

