* text=auto

*.blade.php linguist-language=php
*.js linguist-language=javascript
*.css linguist-language=css
*.html linguist-language=html
*.md diff=markdown
*.php linguist-language=php

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore

