
.describe, .product_name{
		/* width: 230px; */
		height: 39px;
		display: block;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: 1;
		overflow: hidden;
		}
.product_name{
	height: 20px;
}
/* @media only screen and (max-width: 640px)  {
	.product_name{
	height: 30px;
	}
	.grid_1_of_4:nth-child(12) { 
		display:none;
	} 
} */

/* .grid_1_of_4:nth-child(12) { 
		margin-top: -410px; 
}  */
.dropbtn {
  background-color: #1a8849;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a8849;
  min-width: 740px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  /* color: black; */
  /* padding: 12px 16px; */
  /* text-decoration: none; */
  /* display: block; */
}

.dropdown-content a:hover {background-color: #000}

.dropdown:hover .dropdown-content {
  display: block;
}

@tailwind base;
@tailwind components;
@tailwind utilities;